.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2.2rem;
  font-weight: 600;
}

.nav-link {
}

.cart-btn {
}
