.slide-down {
  animation-name: slide-down;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-right {
  opacity: 0;
  animation-name: slide-right;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-400 {
  animation-delay: 400ms;
}

.delay-600 {
  animation-delay: 600ms;
}

.delay-800 {
  animation-delay: 800ms;
}

.delay-1000 {
  animation-delay: 1000ms;
}
.delay-1200 {
  animation-delay: 1200ms;
}
.delay-1400 {
  animation-delay: 1400ms;
}
.delay-1600 {
  animation-delay: 1600ms;
}
