* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
